<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{margin:0;padding: 0;}
        ul,li{
            list-style: none;
        }
        .list_t{
            display: flex;
            justify-content: space-around;
        }
        .shop_logo>img{
            width:1.3rem;
            height:1.3rem;
        }
    </style>
</head>
<body>
    <div id="shoplist">
        <ul>
            <li>
                <div class="list_t">
                    <div class="shop_logo"><img src="http://fuss10.elemecdn.com/7/b5/65e52d507817eff2693b2916eb477jpeg.jpeg"></div>
                    <div class="list_t_r">
                        <div class="list_t_r_1">
                            <div>
                                <i>品牌</i>
                                <span>华莱士(麓谷加州阳光店)</span>
                            </div>
                            <span>保</span>
                        </div>
                        <div class="list_t_r_2">
                            <div>
                                <span>4.5</span>
                                <span>月售1378单</span>
                            </div>
                            <div>
                                <span>蜂鸟专送</span>
                            </div>
                        </div>
                        <div class="list_t_r_3">
                            <div>
                                <span>¥20起送</span>
                                <span>优惠配送费¥1.6</span>
                            </div>
                            <div>
                                <span>1.70km</span>
                                <span>34分钟</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list_b">
                    <div>
                        <div>
                            <span>首</span>
                            <span>新用户下单立减17元</span>
                        </div>
                        <div>
                            <span>减</span>
                            <span>满30减15，满50减25</span>
                        </div>
                    </div>
                    <div>
                        <span>23个活动</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>